body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    
}

.dark-background{
    background-color: #F8EDE3;
}

.color-one{
    color:#8D493A;
}
/*Styling for header section*/
.header{
    display:flex;
    font-weight:600;
    font-size:24px;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

ul{
    list-style-type:none;
    font-weight:normal;
    display:flex;
    gap:10px;
    padding-left:0px;
}
a{
    color:#8D493A;
    text-decoration: none;
}

/*Hero Section*/
.hero-section{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    padding:100px 200px;
}
.hero-content{
    width:500px;
    
}
h1{
    font-size:48px;
    font-weight:900;
    margin:0;
}
.hero-description{
    padding-bottom:10px;
}
.hero-section img{
    width:400px;
    height:auto;
}

.hero-button{
        background-color: #8D493A;
        border: 2px solid white;
        border-radius:8px;
        padding: 10px 30px;
        color:white;
        font-weight:bold;
    
}

/*Information*/
.info-section{
    padding: 50px;
}
.title{
    color:#D0B8A8;
    font-size:36px;
    font-weight:900;
    text-align: center;
    padding-bottom:40px;
}
.info{
    display:flex;
    flex-direction: column;
    width:200px;
    flex-wrap:wrap;
    text-align: center;
    gap:10px;
}
.info-box{
    width:200px;
    height:200px;
    border: 2px solid #D0B8A8;
    border-radius:20px;
}
.container{
    display:flex;
    justify-content: center;
    align-items:baseline;
    gap:50px;
}

/*Testimonial*/
.testimonial-section{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #DFD3C3;
    padding:100px 200px;
}

.testimonial{
    width:700px;
}

.quote{
    color:#1F2937;
    font-size:36px;
    font-style:italic;
    font-weight: lighter;
}

.quote-name{
    text-align:right;
    font-weight:bold;
}

/*Call To Action Section*/
.cta-section{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:100px 200px;
}

.cta-container{
    background-color: #8D493A;
    width:800px;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 100px;
}

.cta-button{
    background-color: transparent;
    border: 2px solid white;
    border-radius:8px;
    padding: 10px 30px;
    color:white;
    font-weight:bold;
}

.cta-text, .cta-subtext{
    color:white;
}

.cta-text{
    font-weight:bold;
    font-size:20px;
}

.cta-subtext{
    font-weight:normal;
}

/*Footer*/
.footer{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:25px;

}

.small-text{
    font-size:18px;
}